# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  format:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - run: curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - run: go get -u golang.org/x/tools/cmd/goimports
      - run: dep ensure -vendor-only
      - run: ./scripts/test-format.sh

  swagger:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - run: curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - run: go get -u github.com/go-swagger/go-swagger/cmd/swagger golang.org/x/tools/cmd/goimports
      - run: dep ensure -vendor-only
      - run: ./scripts/run-genswag.sh

  test:
    docker:
      - image: circleci/golang:1.10
        environment:
        - PG_URL=postgres://test:test@localhost:5432/oathkeeper?sslmode=disable
        - TEST_HYDRA_URL=http://localhost:4444
        - TEST_HYDRA_CLIENT_ID=root
        - TEST_HYDRA_CLIENT_SECRET=secret
        - FORCE_ROOT_CLIENT_CREDENTIALS=root:secret
      - image: oryd/hydra:v0.10.0-alpha.18
        environment:
        - DATABASE_URL=memory
        command: "host --dangerous-force-http"
      - image: postgres:9.5
        environment:
        - POSTGRES_USER=test
        - POSTGRES_PASSWORD=test
        - POSTGRES_DB=oathkeeper
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - run: go get -u github.com/go-swagger/go-swagger/cmd/swagger github.com/bradfitz/goimports github.com/mattn/goveralls golang.org/x/tools/cmd/cover github.com/ory/go-acc
      - run: curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

      # Installation
      - run: curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
      - run: dep ensure -vendor-only
      - run: go install github.com/ory/oathkeeper

      # Tests
      - run: go-acc -o coverage.txt $(glide novendor)
      - run: go test -race -short $(glide novendor | grep -v cmd)

      # Submit coverage details
      # - run: goveralls -service=circle-ci -coverprofile=coverage.txt -repotoken=$COVERALLS_REPO_TOKEN

  test-docker:
    docker:
      - image: library/docker:17.10
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.10.0-ce
      - run: docker build -f Dockerfile -t oathkeeper-test .
      - run: docker run oathkeeper-test version

  release:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.10.0-ce
      - run: docker build --build-arg git_tag=$(git describe --tags) --build-arg git_commit=$(git rev-parse HEAD) -f Dockerfile -t oryd/oathkeeper:$CIRCLE_TAG .
      - run: docker login --username "$DOCKER_USERNAME" --password "$DOCKER_PASSWORD"
      - run: docker push oryd/oathkeeper:$CIRCLE_TAG

  publish-docs:
    docker:
      - image: alpine/git:1.0.4
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - run: git config --global user.email "hi@ory.am"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: "git clone https://arekkas:$DOCS_TOKEN_PUSH@github.com/ory/docs.git ../docs"
      - run: "cp ./docs/api.swagger.json ../docs/apis/oathkeeper.json"
      - run: "(cd ../docs && git add -A && git commit -a -m \"Updates ORY Oathkeeper Swagger definitions\" && git push origin) || exit 0"

  changelog:
    docker:
      - image: circleci/ruby:2.4-node
    steps:
      - checkout
      - run: gem install github_changelog_generator
      - run: sudo npm i -g doctoc
      - run: github_changelog_generator -u ory -p oathkeeper -o CHANGELOG.md --token $GITHUB_TOKEN
      - run: doctoc CHANGELOG.md
      - run: doctoc README.md
      - run: git config --global user.email "circleci@ory.am"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: git add CHANGELOG.md
      - run: |
          git commit -m "docs: Incorporates changes from version $(git describe --tags)" -- CHANGELOG.md
      - run: git remote rm origin
      - run: git remote add origin https://arekkas:$GITHUB_TOKEN@github.com/ory/oathkeeper.git
      - run: git push origin HEAD:master

workflows:
  version: 2
  "test, build, and relase":
    jobs:
      - format:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - swagger:
          filters:
            tags:
              only: /.*/
      - publish-docs:
          filters:
            branches:
              only: master
      - changelog:
          filters:
            branches:
              only: master
      - test-docker:
          requires:
            - test
            - swagger
            - format
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - test-docker
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
