version: 2.1

orbs:
  sdk: ory/sdk@0.1.20
  changelog: ory/changelog@0.0.6
  goreleaser: ory/goreleaser@0.0.26
  nancy: ory/nancy@0.0.8

jobs:
  format:
    docker:
    - image: circleci/golang:1.13
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      # This is disabled for now because goimports is really slow when go modules are used, see
      # https://github.com/golang/go/issues/27287
      #
      #      - run:
      #          name: Enable go1.12 modules
      #          command: |
      #            echo 'export GO111MODULE=on' >> $BASH_ENV
      #            source $BASH_ENV
      - checkout
      - run:
          name: Enable go1.13 modules
          command: |
            echo 'export GO111MODULE=on' >> $BASH_ENV
            source $BASH_ENV
      - run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin latest
      - run: go mod download
      - run: golangci-lint run ./...

  test:
    docker:
      - image: circleci/golang:1.13
        environment:
        - GO111MODULE=on
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - setup_remote_docker
      - run: go mod download
      - run: go install github.com/ory/go-acc github.com/mattn/goveralls
      - run: go-acc -o coverage.txt ./... -- -failfast -timeout=20m
      - run: test -z "$CIRCLE_PR_NUMBER" && goveralls -service=circle-ci -coverprofile=coverage.txt -repotoken=$COVERALLS_REPO_TOKEN || echo "forks are not allowed to push to coveralls"
      - run: ./test/e2e/run.sh
      - run: ./test/reload/run.sh

  docs:
    docker:
      - image: circleci/golang:1.13
    working_directory: /go/src/github.com/ory/oathkeeper
    steps:
      - checkout
      - run: git config --global user.email "hi@ory.am"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: "git clone https://arekkas:$DOCS_TOKEN_PUSH@github.com/ory/docs.git ../docs"
      - run: "cp ./.schemas/config.schema.json ../docs/schemas/oathkeeper.config.schema.json"
      - run: "(cd ../docs && git add -A && git commit -a -m \"Update ORY Oathkeeper Swagger and JSON Schemas\" && git push origin) || exit 0"

workflows:
  "test, build, and relase":
    jobs:
      - nancy/test:
        filters:
          tags:
            only: /.*/
      - format:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - docs:
          filters:
            branches:
              only: master
      - changelog/generate:
          requires:
            - test
            - format
          filters:
            tags:
              only: /.*/
            branches:
              only: master
      - sdk/generate:
          appname: Ory_Oathkeeper
          requires:
            - test
            - format
      - sdk/release:
          requires:
            - test
            - format
            - goreleaser/release
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - goreleaser/test:
          filters:
            tags:
              only: /.*/
      - goreleaser/release:
          requires:
            - goreleaser/test
            - test
            - format
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
